

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Text-Regular";
  background-color: seashell;
}

.phone {
  background-color:wheat;
  width: 380px;
  height: 780px;
  border-radius: 50px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 3px solid rgb(124, 123, 123);
  z-index: 555;
  position: relative;
  box-shadow: 0px 0px 50px -15px rgba(0,0,0,0.75);
}